/* con esta regla seleccionamos los elementos que inicien con la palabra despues del '^=' en este caso se buscan las clases que lleven 'box' + algo */
[class^="box"] {
  margin: 3rem auto;
  background-color: orangered;
}

.box {
  width: 300px;
  height: 300px;
}

.box-flex {
  width: 50%;
  height: 20vh;
}

.box-flexible-2 {
  max-width: 960px;
  min-width: 280px;
  max-height: 480px;
  min-height: 280px;
}

/*
 hacer flexible cualquier elemento multimedia con la siguiente regla:
img,video,canvas,picture,svg,iframe,audio{
  max-width: 100%;
  height: auto;
}

*/

img,
video,
iframe {
  max-width: 100%;
  height: auto;
}

/* 

              forma vieja de hacer responsivo un video 

formato widescreen 16:9
16 --> 100%
9 --> 56.25%
*/

.responsive-media {
  position: relative;
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%; /*este es el trick*/
}

.responsive-media > * {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*

TECNICA NUEVA PARA HACER RESPONSIVO UN ARCHIVO IFRAME o MULTIMEDIA

*/

.aspect-ratio-16-9 {
  aspect-ratio: 4/3; /*para mapas es 1/1, por ejemplo*/
}
