/* con esta regla seleccionamos los elementos que inicien con la palabra despues del '^=' en este caso se buscan las clases que lleven 'box' + algo */
[class^="box"] {
  margin: 3rem auto;
  background-color: orangered;
}

.box {
  width: 300px;
  height: 300px;
}

.box-flex {
  width: 50%;
  height: 20vh;
}

.box-flexible-2 {
  max-width: 960px;
  min-width: 280px;
  max-height: 480px;
  min-height: 280px;
}

/*
 hacer flexible cualquier elemento multimedia con la siguiente regla:
img,video,canvas,picture,svg,iframe,audio{
  max-width: 100%;
  height: auto;
}

*/

img {
  max-width: 100%;
  height: auto;
}